<div class= "Curriculo">
  <div class="Inicio">
  <img src="../assets/meurosto.jpg">
  <h1><b>Diego Souza Ferrari</b></h1>
  <h4>Mobile Developer</h4>
  <hr>
</div>
  <img src="../assets/whatsapp.png">
  (11) 91092-7935 |
  <img src="../assets/email.png">
  diegosferrari&commat;outlook.com
  <hr>
  <h3><b>Objetivos</b></h3>
  Buscar oportunidades para aprimorar minhas habilidades em desenvolvimento mobile,
  especialmente em plataformas iOS e Android, com foco em aplicativos nativos e tecnologias emergentes como React Native e Flutter.
  <h3>Experiencia Profissional</h3>
<ul><li>Fatec Itu - Estagiário no Suporte Técnico -1 Ano</li></ul>
  <h3>Educação</h3>
  <ul>
  <li>Ensino Médio - 2022</li>
  <li>Análise E Desenvolvimento De Sistemas - 2023 a 2025</li>
  </ul>
</div>
